<?xml version="1.0"?>
<!--
/**
 * Copyright © 2025 NortN. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="DefaultWYSIWYGValidator">
        <arguments>
            <argument name="allowedTags" xsi:type="array">
                <item name="picture" xsi:type="string">picture</item>
                <item name="source" xsi:type="string">source</item>
            </argument>
            <argument name="attributesAllowedByTags" xsi:type="array">
                <item name="source" xsi:type="array">
                    <item name="srcset" xsi:type="string">srcset</item>
                    <item name="media" xsi:type="string">media</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>
